@font-face {
    font-family: 'MyFont';
    font-weight: 400;
    src: url(fonts/Montserrat-Regular.ttf);
}

@font-face {
    font-family: 'MyFont';
    font-weight: 700;
    src: url(fonts/Montserrat-Bold.ttf);
}

@media(max-width: 765px){
    .footer .footer__container{
        display: block;
    }

    .footer .footer__container .footer__icon{
        margin-right: 0;
        margin-bottom: 40px;
    }

    .footer .footer__container .footer__catalog{
        justify-content: space-between;
    }

    .footer .footer__container .footer__catalog .footer__list{
        margin-right: 50px;
    }
}

@media (max-width: 480px) {
    .footer{
        padding: 20px;
    }
    
    .footer .footer__container{
        padding-top: 25px;
        padding-bottom: 10px;
    }

    .footer .footer__container .footer__icon{
        height: 30px;
        margin-bottom: 30px;
    }

    .footer .footer__container .footer__catalog{
        flex-direction: column;
    }

    .footer .footer__container .footer__catalog .footer__list{
        font-size: 16px;
        margin-right: 0;
        width: 100%;
    }

    .footer .footer__container .footer__catalog .footer__list :last-child{
        margin-bottom: 50px;
    }
}

