.header{
    position: fixed;
    top: 0;
    left: 0;
}

.header .header__container{
    display: flex;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
    border-bottom: 1px solid whitesmoke;
}

.header .header__container .header__logo{
    margin-right: 20px;
    height: 60px;
}

img{
    height: 100%;
}

.header .header__container .header__list{
    display: flex;
    font-family: 'MyFont';
    font-weight: 500;
    font-size: 17px;
    color:darkslategrey;
}

.header .header__container .header__list .header__list__item{
    margin-right: 20px;
}

.header__list__item__icon_2{
    height: 25px;
    position: fixed;
    top: 2px;
    right: 850px;
    transform: rotate(15deg);
}

.header__list__icon_2{
    height: 30px;
    position: fixed;
    top: 15px;
    right: 385px;
}

.header .header__container .header__list :last-child{
    margin-right: 0;
    margin-left: 22px;
}

.header .header__container .header__icon{
    display: flex;
    align-items: center;
    margin-left: 150px;
}

.header .header__container .header__icon .header__icon__lang{
    font-family: 'MyFont';
    font-weight: 500;
    font-size: 17px;
    color:darkslategrey; 
}

.header .header__container .header__icon .header__icon__item{
    height: 22px;
    margin-right: 15px;
}